.header-buttons {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

#btn_start,
#btn_pause,
#btn_reset {
    width: 80px;
    height:50px;
    background: #fff;
    color:#000;
    border:1px solid #000;
}

#btn_start.active {
    pointer-events: none;
    background: #ccc;
    color:#fff;
}

#box-game-container {
    width:300px;
    height:300px;
    border:1px solid #000000;
    margin:15px auto;
    position:relative;
}

#box-game-container #box {
    position: absolute;
    width:50px;
    height:50px;
    top:0;
    left:0;
    background-image:url(box-charachers/motu.png);
    background-size:cover;
    cursor:pointer;
}

#score {
    text-align: center;
    padding:5px;
}
